* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5;
}

header {
    width: 100%;
    background: white;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space {
    align-items: center;
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    color: #1e3a8a;
}

.logo i {
    font-size: 40px;
    color: #2563eb;
    padding-left: 20px;
}

.logo span{
    font-size: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    display: flex;
    text-decoration: none;
    color: #374151;
    font-size: 30px;
    transition: 0.3s;
    border-radius: 5px;
    padding: 0 15px;
    height: 120px;
    align-items: center;
}

nav ul li a:hover {
    color: #ffffff;
    font-weight: bold;
    background: #2563eb;
}

.dropdown {
    position: relative;
    list-style: none;
}

.dropdown>a {
    text-decoration: none;
    color: #1e293b;
    font-size: 30px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    padding: 10px 0;
    display: none;
    z-index: 999;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu li a {
    display: block;
    padding: 18px 22px;
    text-decoration: none;
    color: #475569;
    font-size: 30px;
    transition: 0.3s;
}

.dropdown-menu li a:hover {
    background: #eff6ff;
    color: #2563eb;
    font-weight: bold;
}

.cart {
    padding: 0 20px;
    font-size: 40px;
    color: #374151;
    cursor: pointer;
}

.cart i {
    padding-right: 10px;
}

.service-hero {
    width: 100%;
    height: 450px;
    background:
        linear-gradient(rgba(15, 102, 26, 0.85),
            rgb(3, 133, 12)),
        url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=1400&auto=format&fit=crop");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-overlay {
    color: white;
}

.hero-icon {
    width: 110px;
    height: 110px;
    margin: auto auto 30px;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-icon i {
    font-size: 40px;
}

.service-hero h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.service-hero p {
    font-size: 26px;
    color: #ececece1;
}

.delivery-process {
    background: #ffffff;
    padding: 80px 40px 0px 40px;
    text-align: center;
}

.service-hero h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.service-hero p {
    font-size: 26px;
    color: #ececece1;
}

.service-features {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.process-title {
    text-align: center;
    margin-bottom: 40px;
}

.process-title h1 {
    font-size: 45px;
    font-weight: 700;
    color: #0f172a;
    margin-bottom: 10px;
}

.process-title p{
    font-size: 26px;
}

.feature-card {
    background: #ffffff;
    border: 1px solid #e2e8f0;
    border-radius: 16px;
    padding: 50px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 0 0 50px 30px;
}

.feature-icon {
    font-size: 50px;
    color: #2563eb;
    margin-bottom: 15px;
}

.feature-card strong{
    font-size: 26px;
}

.feature-card h2 {
    margin-bottom: 10px;
    font-size: 36px;
}

.feature-card p {
    color: #64748b;
    margin-top: 5px;
    font-size: 23px;
}

.time {
    background: blue;
    padding: 0px 80px 0px 70px;
    text-align: center;
}

.time-work {
    background: blue;
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.time-card {
    background: blue;
    padding: 0px 80px;
    border-radius: 20px;
    transition: 0.3s;
    text-align: center;
    margin: 0 30px;
    color: white;
    height: 300px;
}

.time-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 70px 20px 70px;
}

.time-icon i {
    font-size: 60px;
}

.time-card h2 {
    font-size: 45px;
    margin-bottom: 10px;
    color: #ffffff;
}

.time-card p {
    font-size: 26px;
    color: #dbeafe;
}

.Question {
    background: #f8f8f8;
    padding: 80px 40px 30px 40px;
}

.Question h1 {
    text-align: center;
    margin-bottom: 10px;
    background: #f8f8f8;
    font-size: 45px;
}

.Question p {
    font-size: 26px;
    padding-top: 10px;
    margin-bottom: 30px;
}

.question-title{
    text-align: center;
}

.box-question {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 30px 50px;
    margin: 50px 50px;
    border-radius: 10px;
}

.box-question h3{
    font-size: 32px;
    padding: 20px 0;
}

.box-question p {
    font-size: 26px;
    padding-bottom: 20px;
}

.Support {
    background: white;
    padding: 80px 40px;
    text-align: center;
    height: 360px;
}

.Support h1{
    text-align: center;
    margin: 20px 0;
    background: white;
    font-size: 45px;
}

.Support p {
    font-size: 26px;
}

.now {
    margin: 30px 0 50px 0;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.lienhengay {
    background: rgb(27, 212, 27);
    padding: 15px 35px;
    border-radius: 10px;
}

.lienhengay a {
    text-decoration: none;
    color: white;
    font-size: 26px;
}

.hotline {
    padding: 15px 35px;
    border-radius: 10px;
    background: #ececece1;
}

.hotline a {
    text-decoration: none;
    color: black;
    font-size: 26px;
}

.footer {
    background: #01081efa;
    color: #fff;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;
}

.footer-section {
    width: 30%;
    margin-bottom: 20px;
}

.footer-section h4 {
    font-size: 26px;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer-section p {
    color: #ececece1;
    font-size: 22px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 18px;
}

.footer-section ul li a {
    color: #ececece1;
    text-decoration: none;
    font-size: 22px;
}

.contact-info p {
    margin: 5px 0;
}

hr {
    width: 100%;
    border: none;
    height: 2px;
    background-color: #333;
    margin: 20px 0;
}

.mid-footer {
    text-align: center;
    width: 100%;
    color: #ececece1;
    font-size: 26px;
}
